@use 'src/styles/mixins'; //THIS IS REQUIRED!!

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-maroon);
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 144px;
    color: var(--color-gold);

    @include mixins.sm-desktop {
        padding: 36px 88px;
    }

    @include mixins.tablet {
        flex-direction: column; // Now it's in column format
        // justify-content: space-between;
        gap: 16px;
        align-items: center;
        padding: 24px 0px;
    }
}

.pages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-weight: bold;
    font-size: 1.375rem;
    gap: 24px;
    list-style: none;

    @include mixins.tablet {
        display: none;
    }
}

.link {
    text-decoration: none;
    color: var(--color-gold);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p {
        text-align: center;
        line-height: 1.5;
    }

    width: 35%;
    gap: 8px;
    // border: red solid 2px;

    @include mixins.tablet {
        width: 100%;
        padding-bottom: 8px;
    }
}

.contact_us {
    font-size: 1.625rem;

    @include mixins.tablet {
        font-size: 2.5rem;
        font-weight: bolder;
    }
    
    @include mixins.phone {
        font-size: 2.0rem;
    }

    @include mixins.sm-phone {
        font-size: 1.5rem;
    }
}

.address {
    width: calc(8px * 33);
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.375rem;

    @include mixins.tablet {
        font-size: 2rem;
        width: 100%;
    }

    @include mixins.phone {
        font-size: 1.5rem;
    }

    @include mixins.sm-phone {
        font-size: 1.1rem;
    }
}

.icons {
    display: flex;
    width: calc(8px * 42);
    flex-direction: row;
    justify-content: space-around;

    @include mixins.sm-desktop {
        width: calc(8px * 34);
    }
    
    @include mixins.tablet {
        width: calc(8px * 42);
        border: red solid 2px;
    }

    @include mixins.phone {
        width: calc(8px * 30);
    }
    
    @include mixins.sm-phone {
        width: calc(8px * 25);
    }
}

.circle_frame {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-maroon);
    width: 64px;
    height: 64px;
    font-size: 2.7rem;
    
    text-decoration: none;
    transition: margin 0.2s ease-in-out;

    @include mixins.sm-desktop {
        width: 56px;
        height: 56px;
        font-size: 2.3rem;
    }

    @include mixins.tablet {
        width: 64px;
        height: 64px;
        font-size: 2.7rem;
    }

    @include mixins.phone {
        width: 48px;
        height: 48px;
        font-size: 2.0rem;
    }

    @include mixins.sm-phone {
        width: 40px;
        height: 40px;
        font-size: 1.6rem;
    }
}

.facebook {
    font-size: 3.5rem;

    @include mixins.sm-desktop {
        font-size: 3.1rem;
    }

    @include mixins.tablet {
        font-size: 3.5rem;
    }

    @include mixins.phone {
        font-size: 2.6rem;
    }

    @include mixins.sm-phone {
        font-size: 2.2rem;
    }
}

.circle_frame:hover {
    margin-top: -0.5rem;
}

.sponsor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: calc(8px * 46);

    p {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    font-weight: bold;
    font-size: 1.375rem;

    @include mixins.tablet {
        width: calc(8px * 50);
        font-size: 1.4rem;
        font-weight: normal;
        gap: 8px;
        // border: red 2px solid;
    }

    @include mixins.phone {
        width: calc(8px * 36);
        font-size: 1.0rem;
    }

    @include mixins.sm-phone {
        width: calc(8px * 29);
        font-size: 0.75rem;
    }
}

.sponsor_image {
    position: relative;
    width: calc(8px * 45);
    height: calc(8px * 16);
    border-radius: 16px;
    overflow: hidden; 

    @include mixins.tablet {
        width: calc(8px * 34);
        height: 96px;
    }

    @include mixins.phone {
        width: calc(8px * 25);
        height: 72px;
    }

    @include mixins.sm-phone {
        width: calc(8px * 19);
        height: 54px;
        border-radius: 12px;
    }
}


// Contains Include message
.subfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;

    font-size: 1.25rem;

    color: var(--color-maroon);
    background-color: var(--color-gold);

    @include mixins.tablet { 
        font-size: 1.7rem;
    }

    @include mixins.phone { 
        font-size: 1.3rem;
    }

    @include mixins.sm-phone { 
        font-size: 0.875rem;
    }
}

