.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-maroon);
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 8%;

}

.pages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-weight: bold;
    font-size: 1rem;
    gap: 22px;
    list-style: none;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
        display: flex;
        justify-content: center;
        text-align: center;
        line-height: 1.5;
    }
    h3 {
        display: flex;
        justify-content: center;
    }

    // color: var(--color-gold);
    // font-weight: bold;
    font-size: 1rem;
    gap: 5px;

}

.sponsor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    p {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    // color: var(--color-gold);
    font-weight: bold;
    font-size: 1rem;
}

.icons {
    position: absolute;
    color: var(--color-maroon);
    display: flex;
    // background-color: var(--color-white);
}

.circle_frame {
    position: relative;
}

// Contains Include message
.subfooter {
    background-color: var(--color-gold);
}

