@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredoka:wght@300..700&display=swap');

.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: palevioletred;
    width: 100%;
    height: 459px;
    //height: fit-content;
    display: flex;
    flex-direction: row;
}

.frameContainer {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: #fde7aa;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.frame {
    position: absolute;
    min-width: 100%;
    width: auto;
    height: 100%;
    animation: slide;
    animation-duration: 2s;
    box-shadow: 0 0 8px 8px palevioletred inset;
}

.prev {
    left: -100%;
}

.curr {
    left: 0;
}

.selectedFrame {
    position: absolute;
    min-width: 100%;
    width: auto;
    height: 100%;
    box-shadow: 0 0 8px 8px palevioletred inset;
}

@keyframes slide {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0px);
    }
  }

.nav {
    position: relative;
    bottom: 30px;   
    display: flex;
    flex-direction: row;
    z-index: 2000;
    width: 10%;
    justify-content: space-evenly;
}

.navBttn {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-color: transparent;
}

.circle {
    width: 100%;
    height: 100%;
    color:#FFFBF0;
}

.selected {
    color:#D79C1A;
}

.textContainer {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: #FFFBF0;
}

.blur {
    position: absolute;
    width: 140%;
    height: 100%;
    z-index: 1000;
    background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255, 1) 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.title {
    width: 80%;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--Gold, #D79C1A);
    margin-bottom: 4%;
}

.description {
    width: 70%;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.65625rem;
    color: var(--maroon, #5B1110);
}

.left_blur {
    display: none;
}

.right_blur {
    display: none;
}

.arrow {
    font-size: 2rem;
    color: #D79C1A;
}


@media screen and (max-width:600px)  {
    .nav {display: none;}
    .title{display: none;}
    .container{
        position: relative;
        flex-direction: column;
        align-items: center;
        height: 16rem;
    }
    .frameContainer{
        width: 100%;
    }
    .textContainer{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 20%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2000;
        bottom: 0; 
    }
    .blur {
        width: 100%;
        position: relative;
        background-image: none;
        align-items: center;
    }
    .description {
        width: 100%;
        color: var(--Beige, var(--Committee-Color, #E7D3B8));
        font-size: 1rem;
        line-height: 1rem;
    }

    .left_blur {
        position: absolute;
        display: flex;
        z-index: 1500;
        left: 0;
        width: 10%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255, 0.5) 90%);
    }

    .right_blur {
        position: absolute;
        display: flex;
        z-index: 1500;
        right: 0;
        width: 10%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255, 0.5) 90%);
    }
}