//hardcoded width/height/radius/padding values in .container, .options, keyframe-rollout, .spOption
//hardcoded animation speed in .enOption, .cnOption, .koOption, .vnOption, .hmOption, & .spOption

.container {
    background-color: transparent;
    width: 269px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFBF0;

}

.table {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.options {
    color: #5B1110;
    font-family: Inter;
    background-color: transparent;
    border-color: transparent;
    border-radius: 7px;
    padding: 7px;
}

.options:hover {
    color: #D79C1A;
    background-color:#5B1110;
}

@keyframes rollout {
    0% {
      transform: translateY(
        calc(var(--list-num)*-1*60)
        );
    }
    100% {
      transform: translateY(0);
    }
  }

.enOption {
    width: 100%;
    background-color: #FFFBF0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    --list-num: 1px;
    animation: .4s rollout;
}
.cnOption {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFBF0;
    --list-num: 2px;
    animation: .4s rollout;
}
.koOption {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFBF0;
    --list-num: 3px;
    animation: .4s rollout;
}
.vnOption {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFBF0;
    --list-num: 4px;
    animation: .4s rollout;
}
.hmOption {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFBF0;
    --list-num: 5px;
    animation: .4s rollout;
}
.spOption {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFBF0;
    --list-num: 6px;
    animation: .4s rollout;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.arrow {
}

.arrow:active {
    transition: transform 0.3s;
    transform: rotate(180deg);
    background-color: aqua;
  // This is important to keep the icon from rotating with the parent button.
  
}

.translationIcon {
    width: 29px;
    height: 29px;
}

.line {
    width: 269px;
}
.line1 {
    --list-num: 1px;
    animation: .4s rollout;
}
.line2 {
    --list-num: 2px;
    animation: .4s rollout;
}
.line3 {
    --list-num: 3px;
    animation: .4s rollout;
}
.line4 {
    --list-num: 4px;
    animation: .4s rollout;
}
.line5 {
    --list-num: 5px;
    animation: .4s rollout;
}
.line6 {
    --list-num: 6px;
    animation: .4s rollout;
}
