@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

//hardcoded width/height/radius/padding values in .container, .option_text, .option
//hardcoded animation speed in .option, .table

.container {
    background-color: transparent;
    width: 269px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.mobileHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.mobileExpandedHeader {
    display: none;
    flex-direction: row;
    height: 1.4rem;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    padding-bottom: 0px;
    background-color: var(--color-beige);
}

.mobileCollapsedHeader {
    display: none;
    height: 1.4rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    padding-bottom: 0px;
}

.mobile_headerText {
    width: 70%;
    height: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    z-index: 102;
    animation: .3s expandLeft;
}

.toggleIcon {
    position: relative;
    width: auto;
    color: var(--color-maroon);
}

.toggle_button {
    position: relative;
    width: 1.7rem;
    height: 1.4rem;
    background-color: var(--color-beige);
    margin-right: 4px;
    border-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 103;
}

.defaultHeader {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-white);
    z-index: 100;
    padding: 8px 16px;
    padding-bottom: 0px;
}

@media screen and (min-width: 601px){
    .defaultHeader { display:flex; }
    .mobileExpandedHeader {
        display: none;
    }
    .mobileCollapsedHeader {
        display: none;
    }
}

@media screen and (max-width: 600px){
    .container {
        width: 6rem;
        border-radius: 10px;
    }
    .defaultHeader { display:none; }
    .mobileExpandedHeader {
        display: flex;
    }
    .mobileCollapsedHeader {
        display: flex;
    }
}

.header_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
}

.selected{
    color: var(--color-maroon);
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60%;
}

.vDivider {
    //background-color: plum;
    color: var(--color-maroon);
    margin-right: -8px;
    margin-left: -8px;
}

.translationIcon {
    display: block;
    font-weight: 400;
    margin-right: 2%;
    color: var(--color-maroon);
}

.arrow {
    font-size: 2rem;
    background-color: transparent;
    border-color: transparent;
    color: var(--color-maroon);
}

.arrow:active {
    transition: transform 0.3s;
    transform: rotate(180deg);  
}


.table{
    display: none;
}

.table.active {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    animation: .3s drop;
}

@keyframes drop {
    0% {
      transform: translateY(-110%);
    }
    100% {
      transform: translateY(0);
    }
}

.option {
    padding: 4px 8px;
    animation: .4s rollout;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option_text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 7px;
    color: var(--color-maroon);
    width: 50%;
    padding: 4px 0px;
}

.option_text:hover {
    color: var(--color-gold);
    background-color: var(--color-maroon);
}


@keyframes rollout {
    0% {
      transform: translateY(
        calc(-100%)
        );
    }
    100% {
      transform: translateY(0);
    }
}

.divider {
    width: 90%;
    height: 2px;
    margin-bottom: 8px;
    background-color: var(--color-gold);
    border-radius: 10px;
}

@keyframes expandLeft {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateY(0);
    }
}

@media screen and (max-width: 600px){
    .selected {
        width: 85%;
        color: var(--color-maroon);
        white-space: nowrap;
        overflow: hidden;
        text-overflow:clip;
        //background-color: plum;
        font-family: "Sora", sans-serif;
        //font-size: 100%;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);
    }

    .table.active {
        background-color: var(--color-beige);
    }

    .option_text {
        color: var(--color-maroon);
        //background-color: plum;
        font-family: "Sora", sans-serif;
        font-size: 0.75rem;
        //font-size: 100%;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 70%;
        padding: 0;
        border-radius: 4px;
    }

    .divider {
        height: 1px;
        margin-bottom: 2px;
    }

    .option {
        padding: 0;
        padding-bottom: 2px;
    }

    // .option_text:hover {
    //     color: var(--text-black);
    //     background-color: var(--color-gold);
    // }

    .header_icons {
        font-size: 1rem;
    }

    .vDivider {
        z-index: 104;
        margin-left: -8px;
    }
}