@use '../../mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
//hardcoded width/height/radius/padding values in .container, .mobileExpandedHeader, .mobileCollapsedHeader, .vDivider, .divider, .option_text, .option
//hardcoded animation speed in .option, .table, .mobile_headerText

.container {
    background-color: var(--color-beige);
    width: 256px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-beige);
    z-index: 100;
    padding: 8px 16px;
    padding-bottom: 0px;

    .header_icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 2rem;
    }
    
    .selected{
        color: var(--color-maroon);
        text-align: center;
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 50%;
    }
    
    .vDivider {
        color: var(--color-maroon);
    }

    .translationIcon {
        display: block;
        font-weight: 400;
        margin-right: 2%;
        color: var(--color-maroon);
    }
    
    .translationIconMobile{
        display: none;
    }
    
    .arrow {
        font-size: 2rem;
        background-color: transparent;
        border-color: transparent;
        color: var(--color-maroon);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .arrow:active {
        transition: transform 0.3s;
        transform: rotate(180deg);  
    }
}

.table {
    display: none;
}

.table.active {
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    animation: .3s drop;
}

@keyframes drop {
    0% {
      transform: translateY(-110%);
    }
    100% {
      transform: translateY(0);
    }
}

.option {
    padding: 4px 8px;
    animation: .4s rollout;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option_text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 7px;
    color: var(--color-maroon);
    width: 50%;
    padding: 4px 0px;
}

@keyframes rollout {
    0% {
      transform: translateY(
        calc(-100%)
        );
    }
    100% {
      transform: translateY(0);
    }
}

.option_text:hover {
    color: var(--color-gold);
    background-color: var(--color-maroon);
}

.divider {
    width: 90%;
    height: 2px;
    margin-bottom: 8px;
    background-color: var(--color-gold);
    border-radius: 10px;
}

@include mixins.tablet{
    .container{
        width: 216px;
    }
}

@include mixins.phone{

    .container {
        width: fit-content;
    }
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 100;
        border-radius: 30%;
        padding: 4px 4px;
        width: 100%;

        .translationIconMobile {
            display: block;
            color: var(--color-maroon);
        }

        .selected, .vDivider, .translationIcon, .arrow{
            display: none;
        }
    }
    
    .header.expanded {
        z-index: 102;
        animation: .3s expandLeft;
        border-radius: 0;
        padding: 4px 8px;
        
        .selected {
            width: 85%;
            color: var(--color-maroon);
            white-space: nowrap;
            overflow: hidden;
            text-overflow:clip;
            font-family: "Sora", sans-serif;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: block;
            padding-right: 4px;
        }
        
        .vDivider {
            font-size: 1rem;
            display: block;   
            margin-left: -8px;
        }
    }
    
    @keyframes expandLeft {
        0% {
          transform: translateX(50%);
        }
        100% {
          transform: translateY(0);
        }
    }
    
    .option {
        padding: 0;
        padding-bottom: 2px;
    }

    .option_text {
        color: var(--color-maroon);
        font-family: "Sora", sans-serif;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 70%;
        padding: 0;
        border-radius: 4px;
    }

    .divider {
        height: 1px;
        margin-bottom: 2px;
    }
}
