@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

//hardcoded width/height/radius/padding values in .container, .option_text, .option
//hardcoded animation speed in .option, .table

.container {
    background-color: transparent;
    width: 269px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-beige);
    z-index: 100;
    padding: 8px 16px;
    padding-bottom: 0px;
}

.header_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
}

.selected{
    color: var(--color-maroon);
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60%;
}

.vDivider {
    color: var(--color-maroon);
    margin-right: -8px;
}

.translationIcon {
    display: block;
    font-weight: 400;
    margin-right: 2%;
    color: var(--color-maroon);
}

.arrow {
    font-size: 2rem;
    background-color: transparent;
    border-color: transparent;
    color: var(--color-maroon);
}

.arrow:active {
    transition: transform 0.3s;
    transform: rotate(180deg);  
}


.table{
    display: none;
}

.table.active {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    animation: .3s drop;
}

@keyframes drop {
    0% {
      transform: translateY(-110%);
    }
    100% {
      transform: translateY(0);
    }
}

.option {
    padding: 4px 8px;
    animation: .4s rollout;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option_text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 7px;
    color: var(--color-maroon);
    width: 50%;
    padding: 4px 0px;
}

.option_text:hover {
    color: var(--color-gold);
    background-color: var(--color-maroon);
}


@keyframes rollout {
    0% {
      transform: translateY(
        calc(-100%)
        );
    }
    100% {
      transform: translateY(0);
    }
}

.divider {
    width: 90%;
    height: 2px;
    margin-bottom: 8px;
    background-color: var(--color-gold);
    border-radius: 10px;
}
