@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

//hardcoded width/height/radius/padding values in .container, .option_text, .option
//hardcoded animation speed in .option, .table

.background {
    display: flex;
    justify-content: center;
    width: 100%;

    padding: 16px 0px;
    background-color: var(--color-maroon);
}

.container {
    background-color: transparent;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    background-color: var(--color-beige);
    z-index: 100;
    padding: 8px 16px;
}

.selected {
    color: var(--color-maroon);
    text-align: center;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
}

.arrow {
    font-size: 2rem;
    background-color: transparent;
    border-color: transparent;
    color: var(--color-maroon);
    width: 10%;
}

.arrow:active {
    transition: transform 0.3s;
    transform: rotate(180deg);  
}

.table{
    display: none;
}

.table.active {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    animation: .3s drop;
}

@keyframes drop {
    0% {
      transform: translateY(-110%);
    }
    100% {
      transform: translateY(0);
    }
}

.option {
    padding: 4px 8px;
    animation: .4s rollout;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option_text {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 8px;
    color: var(--color-maroon);
    width: 90%;
    padding: 8px 0px;
}

.option_text:hover {
    color: var(--color-gold);
    background-color: var(--color-maroon);
}


@keyframes rollout {
    0% {
      transform: translateY(
        calc(-100%)
        );
    }
    100% {
      transform: translateY(0);
    }
}

.divider {
    width: 90%;
    height: 2px;
    margin-bottom: 8px;
    background-color: var(--color-gold);
    border-radius: 10px;
}
