@use '../../mixins.scss';

.cardsContainer {
  background-color: var(--color-white);
  font-family: var(--font-inter);
  padding-left: var(--edge-spacer);
  padding-right: var(--edge-spacer);
  display: flex;
  padding-top: 24px;
  font-size: 1.5rem;
  text-align: center;
}

.cardImg {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 368px;
  height: 328px;
  border-radius: 12px;
  overflow: hidden; // ensures Image component respects the border-radius (per stack overflow...)
}

.cardText {
  position: absolute;
  width: 100%;
  bottom: 0px;
  border-radius: 0px 0px 12px 12px;
  background: rgba(27, 1, 1, 0.7);
  color: var(--color-white);
  padding: 9px;
  font-size: 1.25rem;
  text-align: center;
}

.detailsButton,
.signUpButton {
  height: 38px;
  width: 144px;
  margin: 16px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  position: relative;
}

.detailsButton {
  color: var(--color-maroon);
  background-color: var(--color-white);
  border-color: var(--color-maroon);
}

.signUpButton {
  color: var(--color-gold);
  background-color: var(--color-maroon);
  border: none;
}

.links {
  text-decoration: none;
}

@include mixins.phone{
  .cardImg{
    width: 320px;
    height: 285px;
  }
}

@include mixins.v-sm-phone{
  .cardsContainer >div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detailsButton, .signUpButton{
    margin: 8px;
    margin-bottom: 4px;
  }
  .cardImg{
    width: 240px;
    height: 215px;
  }
}