@use 'src/styles/mixins'; //THIS IS REQUIRED!!


.imgContainer {
  position: relative; //THIS IS REQUIRED!!
  width: 600px;
  height: 600px;
  border: 2px solid red;
  border-radius: 32px;
  overflow: hidden; //if you have a border, use this property to hide overlap and expose the border on your image

  //This is how you would use the pre-defined mixins that you can find in styles > mixins.scss
  @include mixins.sm-desktop {
    width: 300px;
    height: 300px;
  }

  @include mixins.phone {
    width: 100px;
    height: 100px;
  }
}
