@use "src/styles/mixins.scss";

:root {
  // colors: rgba/hex
  --color-maroon: #5b1110;
  --color-gold: #d79c1A;
  --color-white: #fffBf0;
  --color-beige: #e7d3b8;
  --text-black: #333333;

  // spacers: px
  --edge-spacer: 24px;

  // font sizes: ALWAYS IN REM
}

* {
  box-sizing: border-box;
  font-family: var(--font-inter);
  padding: 0;
  margin: 0;
}

/* Desktop Styles */


button {
  cursor: pointer;
}