@use 'src/styles/mixins';

.committees_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);

    h1 {
        padding-top: 48px;
        padding-bottom: 24px;
        color: var(--color-maroon);
        font-family: "Be Vietnam";
        font-style: normal;
        font-weight: 700;
        font-size: 3.5rem;

        @include mixins.sm-desktop {
            font-size: 2.5rem;
        }

        @include mixins.tablet {
            font-size: 2rem;
        }

        @include mixins.phone {
            font-size: 1.5rem;
        }

        @include mixins.sm-phone {
            font-size: 1.25rem;
        }
    }
}

.committees_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 0px 160px;

    @include mixins.sm-desktop {
        padding: 0px 108px;
        column-gap: 4px;
    }

    @include mixins.tablet {
        padding: 0px 72px;
        column-gap: 48px;
    }

    @include mixins.phone {
        padding: 0px 48px;
        column-gap: 32px;
    }

    @include mixins.sm-phone {
        padding: 0px;
        column-gap: 16px;
    }
}

.committees_cards>div {
    flex: 0 0 33%;
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
}