.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    background-color: var(--color-white);
}

.dropdown {
    display: flex;
    justify-content: center;
    width: 100%;

    padding: 16px 0px;
    background-color: var(--color-maroon);
}

.window_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    gap: 8px;
}

.arrow {
    height: 48px;
    aspect-ratio: 1;
    background-color: var(--secondary);
    border-radius: 24px;
    border: none;
    flex-grow: 0;

    text-align: center;
    font-size: 1.6rem;
    color: var(--text-light);

    display: flex;
    align-items: center;
    justify-content: center;
}

.viewport_container {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewport {
    overflow: hidden;
    width: 100%;
}

.content_belt {
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
    gap: 8px;
}

.frame {
    width: calc(calc(100% - 16px) / 2.6);
    flex-shrink: 0;
    aspect-ratio: calc(16.0/11.0);
    
    position: relative; // image settings
    border-radius: 32px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.frame.secondary {
    margin: 0 calc(-1 * calc(100% - 16px) / 2.6 * 0.1);
    transform: scale(0.8);
    opacity: 0.8;
}

// .frame.tertiary {
//     margin: 0 calc(-1 * calc(100% - 32px) / 3.8 * 0.2);
//     transform: scale(0.6);
//     opacity: 0.6;
// }

.frame_content {
    color: var(--text-light);
}

.dots {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.dot {
    width: 16px;
    aspect-ratio: 1;
    border-radius: 8px;
    background-color: var(--color-beige);
}

.dot.active {
    background-color: var(--color-gold);
}

@media screen and (max-width: 1200px) {
    .viewport {
        width: calc(100% * 3.8/2.6);
    }
}

.info {
    color: var(--color-gold);
    background-color: var(--color-maroon);
}