.scroll {
    width: 24.5625rem;
    height: 2.625rem;
    flex-shrink: 0;
    background-color: var(--color-maroon);
}

.button_svg {
    width: 35px;
    height: 35px;
    color: #D79C1A;
}

.title {
    color: #D79C1A;
    text-align: center;
    font-family: "Be Vietnam";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
}



.card {
    display: flex;
    width: 21.375rem;
    height: 36.5rem;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.75rem;
    border: 3px solid #5B1110;
    background: var(--Committee-Color, #E7D3B8);

    p {
        color: var(--Off-Black, #333);
        text-align: center;
        font-family: "Be Vietnam";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 10px;
    }

    img {
        align-items: center;
        flex-direction: column;
        padding: 5px;
    }
}