@use 'src/styles/mixins';

.mainContainer {
    font-family: Arial; //import later 
    display: flex;
    flex-direction: column;
}

.servicesContainer {
    background-color: var(--color-white);
    color: var(--color-maroon);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    row-gap: 40px;
    justify-content: space-around;

    .pageHeading {
        font-size: 3.4375rem;
    }
}

.boxContainer {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    justify-content: center;

    .serviceBox {
        background-color: var(--color-beige);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
    }

    .topServiceBox {
        row-gap: 65px;
        width: 402px;
        height: 300px;
        justify-content: center;

        >h2 {
            font-size: 2.8125rem;
            text-align: center;
        }

        >p {
            font-size: 1.875rem;
            color: black;
            font-weight: bold;
            text-align: center;
        }

    }

    .bottomServiceBox {
        width: 492px;
        height: 338px;
        row-gap: 26px;
        justify-content: center;
        align-items: center;

        >h2 {
            text-align: center;
            font-size: 2.5rem;
        }

        .desc {
            font-size: 2rem;
            color: black;
            list-style-position: inside;
        }

        .translatorsList {
            columns: 2;
        }
    }
}


// Slider code 
.slideContainer {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    color: var(--color-gold);
}

.tabContainer {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
}

.tab {
    width: 25%;
    height: 97px; //80
    font-size: 1.875rem;
    color: var(--color-maroon);
    background-color: var(--color-beige);
    border: none;
    border-radius: 20px 20px 0 0;
    text-align: left;
    padding-left: 14px;
    padding-right: 90px;
    justify-content: space-between;
    transition: all 0.2s ease;
}

.tab:hover {
    color: var(--color-gold);
    background-color: var(--color-maroon);
}

.activeTab {
    color: var(--color-gold);
    background-color: var(--color-maroon);
}

.inactiveSlide {
    display: none;
}

.activeSlide {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-maroon);
    padding: 100px 40px;


    .arrContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .arr {
            font-size: 5rem;
            color: var(--color-beige);
            cursor: pointer;
            position: absolute;
        }
    }

    .imageContainer {
        height: 431px;
        display: flex;
        align-items: center;
    }

    .image {
        border-radius: 12px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        //position: absolute;
    }

    .slideText {
        display: flex;
        align-items: center;
        justify-content: left;
        height: 380;
        width: 625px;
        list-style-position: outside;
        position: relative;
        font-size: 2.25rem;
    }
}

@include mixins.phone {
    .servicesContainer {
        .pageHeading {
            font-size: 1.5rem;
            color: black;
        }
    }

    .boxContainer {
        .topServiceBox {
            width: 168px;
            height: 153px;
            row-gap: 13px;

            >h2 {
                font-size: 1.25rem;
            }

            >p {
                font-size: 1.125rem;
            }

        }

        .bottomServiceBox {
            width: 330px;
            height: 131px;
            row-gap: 13px;

            >h2 {
                font-size: 1.25rem;
            }

            .desc {
                font-size: 1.125rem;
            }
        }
    }

    .bottomBoxContainer {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}

@include mixins.tablet {
    .servicesContainer {
        .pageHeading {
            font-size: 1.75rem;
            color: black;
        }
    }

    .boxContainer {
        .topServiceBox {
            width: 196px;
            height: 178px;
            row-gap: 15px;

            >h2 {
                font-size: 1.45rem;
            }

            >p {
                font-size: 1.3125rem;
            }

        }

        .bottomServiceBox {
            width: 385px;
            height: 152px;
            row-gap: 15px;

            >h2 {
                font-size: 1.45rem;
            }

            .desc {
                font-size: 1.3125rem;
            }
        }
    }

    .bottomBoxContainer {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}