.mainContainer {
    font-family: Arial; //import later 
    display: flex;
    flex-direction: column;
}

.servicesContainer {
    background-color: #FFFBF0;
    color: #5B1110;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
    row-gap: 16px;
    justify-content: space-between;

    .heading {
        padding: 16px;
        font-size: 1.4rem;
        word-wrap: break-word;
    }
}

.boxesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 32px;
    vertical-align: center;

    .serviceBox {
        background-color: #E7D3B8;
        border-radius: 12px;
        padding: 32px;
        row-gap: 8px;
        text-align: center;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        vertical-align: middle;


        >p {
            color: black;
            padding-top: 16px;
            vertical-align: center;
            font-weight: bold;
            font-size: 1.25rem;
            text-align: center;
        }

        >ul {
            color: black;
            padding-top: 16px;
            text-align: left;
            font-size: 1.25rem;
        }
    }


    .topServiceBox {
        width: 320px; //240px
        height: 234px; //176

        >h2 {
            font-size: 2.4rem;
            color: #5B1110;
        }
    }

    .bottomServiceBox {
        width: 384px; //352px
        height: 234px;

        >h2 {
            font-size: 1.6rem;
            color: #5B1110;
        }

        .translatorsList {
            columns: 2;
        }
    }
}

// Slider code 

.slideContainer {
    background-color: #FFFBF0;
    display: flex;
    flex-direction: column;
    color: #D79C1A;
}

.tabContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFBF0;
}

.tab {
    font-size: 1.2rem; //1.875rem
    background-color: #E7D3B8;
    border: none;
    row-gap: 16px;
    color: #5B1110;
    padding-left: 32px;
    border-radius: 16px 16px 0 0;
    width: 304px; //256px 
    word-wrap: break-word;
    text-align: left;
    height: 64px;
}

.tab:hover {
    color: #D79C1A;
    background-color: #5B1110;
}

.activeTab {
    color: #D79C1A;
    background-color: #5B1110;
}

.inactiveSlide {
    display: none;
}

.activeSlide {
    display: flex;
    flex-direction: row;
    background-color: #5B1110;
    word-wrap: break-word;
    width: 1412px; //1280px (the one I guestimated)
    justify-content: space-around;
    column-gap: 160px;
    height: 431px; //480px (my guestimation) 
    align-items: center;
    line-height: 48px;

    .arrContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 480px;
        width: 128px;
        position: absolute;
    }

    .arr {
        color: #E7D3B8;
        height: 80px;
        width: 80px;
        justify-content: center;
        cursor: pointer;
    }

    .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 480px;
        width: 512px; //40% -> 512px 
    }

    .image {
        border-radius: 12px;
        position: absolute;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .slideText {
        width: 512px;
        height: 480px;
        font-size: 1.875rem;
        display: flex;
        align-items: center;
    }
}