.wrapper{
    height: auto;
    background: var(--off-white, #FFFBF0);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-inter);

    >h1{
        color: var(--maroon, #5B1110);
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        line-height: normal;
    }

    >h2{
        font-size: 1.25rem;
        text-align: center;
        font-weight: 500;
        line-height: 170%; /* 42.5px */
    }

    *{
        padding-top: 1em;
        width: 50%;
    }
}

.button {
    border: none;
    background: none;
    color: #5B1110;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 56px;
    display: flex;
    flex-direction: row;
}

.buttonClass{
    padding-left: 2em;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    
}

.linkStyle{
    text-decoration: none;
}