@use 'src/styles/mixins';

.container {
    >* {
        font-family: 'Be Vietnam';
    }
}

// Mission statement and paragraph
.mission {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    justify-content: space-around;
    column-gap: 16px;
    padding: 32px;

    //  height: calc(8px * 86);

    background-color: var(--color-maroon);
    color: var(--color-beige);

    @include mixins.sm-desktop {
        padding: 24px;
    }

    @include mixins.tablet {
        flex-direction: column-reverse;
    }

    @include mixins.sm-phone {
        padding-left: 0px;
        padding-right: 0px;
    }

    h1 {
        color: var(--color-gold);
        font-size: 3rem;

        @include mixins.sm-desktop {
            font-size: 2.5rem;
        }

        @include mixins.tablet {
            font-size: 2.0rem;
        }

        @include mixins.phone {
            font-size: 1.375rem;
        }

        @include mixins.v-sm-phone {
            font-size: 1rem;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 40px;
        white-space: pre-wrap;

        @include mixins.sm-desktop {
            font-size: 1.25rem;
        }

        @include mixins.tablet {
            line-height: normal;
        }

        @include mixins.phone {
            font-size: 1.125rem;
        }

        @include mixins.v-sm-phone {
            font-size: 0.75rem;
        }

    }

    h1,
    p {
        margin-bottom: 24px;

        @include mixins.tablet {
            margin-bottom: 8px;
        }
    }
}

.mission_text {
    max-width: 640px;

    @include mixins.sm-desktop {
        max-width: 526px;
    }

    @include mixins.phone {
        max-width: 353px;
    }

    @include mixins.sm-phone {
        max-width: 328px;
        min-width: 240px;
    }

    @include mixins.v-sm-phone {
        padding: 8px;
    }
}

// White section with info cards
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    //height: calc(8px * 113);
    background-color: var(--color-white);
    padding: 48px 64px;
    gap: 64px;
}

.doctors_image {
    position: relative;
    width: 560px;
    height: 352px;

    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: auto;

    @include mixins.sm-desktop {
        width: 480px;
        height: 272px;
    }

    @include mixins.phone {
        width: 353px;
        height: 214px;
    }

    @include mixins.sm-phone {
        width: 328px;
        max-width: 100%;
    }

    @include mixins.v-sm-phone {
        width: 240px;
        height: 160px;
    }

}

.visit_card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    border-radius: 16px;

    background-color: var(--color-beige);
    color: var(--text-black);
    font-size: 1.5rem;
    line-height: 40px;
    padding: 32px 48px;

    h1 {
        color: var(--color-maroon);
        font-size: 2.5rem;
    }

    width: 80%;

    @include mixins.sm-desktop {
        >p {
            font-size: 1.25rem;
        }
    }

    @include mixins.tablet {
        width: 100%;
        >p {
            text-align: center;
        }
    }
    
    @include mixins.phone {
    
        h1 {
            font-size: 1.375rem;
        }

        p {
            font-size: 1.125rem;
        }
    }

    @include mixins.v-sm-phone {
        h1 {
            font-size: 1rem;
        }

        p {
            line-height: normal;
            font-size: 0.75rem;
        }
    }
}

.visit {
    // section with icons and contact info/addreass
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    font-size: 1.875rem;
    color: var(--color-maroon);

    @include mixins.tablet {
        flex-direction: column;
    }

    @include mixins.phone {

        h1 {
            font-size: 1.375rem;
        }

        p {
            font-size: 1.125rem;
        }

    }

}

.row_icons {
    // styling of icon + "contact info"
    display: flex;
    gap: 16px;

    @include mixins.v-sm-phone {
        p {
            font-size: 0.95rem;
        }
    }


}

.contact {
    // divides lower "visit us" section into two sections. This is left section (phone # and "message")
    display: flex;
    flex-direction: column;
    gap: var(--edge-spacer);
    min-width: fit-content;
}

.address {
    display: flex;
    flex-direction: column;

    p {
        width: 250px;
    }

    @include mixins.phone {
        p {
            width: 200px;
        }
    }

    @include mixins.sm-phone {
        p {
            width: 100px;
        }
    }
}

.dates {
    // This is to style lower two cards
    display: flex;
    gap: 32px;
    width: 100%;

    h1 {
        text-align: center;
        color: var(--color-maroon);
        font-size: 2.5rem;
    }

    ul {
        list-style-type: none;
        min-width: fit-content;
    }

    li {
        padding: calc(var(--edge-spacer) / 2);
        font-size: 1.5rem;
    }

    @include mixins.sm-desktop{
        h1 {
            font-size: 2rem;
        }

        li {
            font-size: 1.15rem;
        }
    }

    @include mixins.tablet {
        flex-direction: column;

        h1 {
            font-size: 2.5rem;
        }
    }

    @include mixins.sm-phone {

        li {
            font-size: 1.375rem;
        }
    }

    @include mixins.v-sm-phone {
        li {
            line-height: normal;
            font-size: 0.75rem;
        }
    }
}

// Styling for "Closure Dates" card
.closure_card {
    width: 362px;
    min-width: fit-content;
    min-height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px;
    border-radius: 16px;

    background-color: var(--color-beige);
    color: var(--text-black);

    @include mixins.tablet {
        width: 100%;
    }
}

// Styling for "Upcoming Events" card
.events_card {
    width: 100%;
    min-height: 384px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    align-items: center;
    border-radius: 16px;

    background-color: var(--color-beige);
    color: var(--text-black);

    @include mixins.tablet {
        width: 100%;
        padding: 24px;
    }
}

.events {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    width: 100%;
    align-items: center;
    overflow: hidden;

    @include mixins.sm-desktop{
        gap: 16px;
    }

    @include mixins.phone {
        padding: 8px;
    }
}

.date_container {
    display: flex;
    column-gap: 24px;

    .date{
        min-width: 145px;

        @include mixins.sm-desktop{
            min-width: 110px;
        }
    }
}

.events_image_mobile {
    position: relative;
    // width: 400px;
    // height: 400px;
    width: 100%;
    aspect-ratio: 1.5;
    border-radius: 8px;
    overflow: hidden;
    display: none;

    @include mixins.tablet {
        display: block;
    }
}

.events_image {
    position: relative;
    // width: 320px;
    height: 100%;
    aspect-ratio: 1.5;
    border-radius: 8px;

    @include mixins.tablet {
        display: none;
    }
}

// Add circular background behind icons
.circle_frame {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--color-gold);
    color: var(--color-maroon);
    width: 56px;
    height: 56px;
    font-size: 2.0rem;

    text-decoration: none;
    transition: margin 0.2s ease-in-out;

    @include mixins.v-sm-phone {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
}

.circle_frame:hover {
    transition: 0.5s;
    box-shadow: 0 0 8px var(--color-maroon);
    text-shadow: 0 0 8px var(--color-maroon);
}

/*

@include mixins.sm-desktop {
  //1280
  
}
@include mixins.tablet {
  //1048
  
}
@include mixins.phone {
  //720

}
@include mixins.sm-phone {
  //540
  
}



*/