.wrapper{
    height: 100vh;
    background: var(--off-white, #FFFBF0);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-inter);

    >h1{
        color: var(--maroon, #5B1110);
        font-size: 55px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    >h2{
        font-size: 25px;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        line-height: 170%; /* 42.5px */
        margin-top: 32px;
        margin-left: 216px;
        margin-right:  216px;

    }
}

.button {
    margin-bottom: 60px; 
    margin-right: 50px;
    margin-left: 24px;
    border: none;
    background: none;
    color: #5B1110;
    font-size: 28px;
    font-weight: 600;
    padding-top: 56px;
    display: flex;
    flex-direction: row;
}

.buttonClass{
    margin-left: 32px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    
}

.linkStyle{
    text-decoration: none;
}