.wrapperClass{
  background-color: #FFFBF0;
  text-align: center;
  height:auto;
  padding-top: 40px;

  >*{
      padding: 24px;
  }

  >h1{
    font-size: 2rem;
    color: #5B1110;
  }

  >h2{
    font-size: 1.75rem;
    color: #D79C1A;
  }
  >p{
    margin: 0 auto;
    width: auto;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 32px;
    font-size: 1.25rem;
  }
}

.listClass{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.defaultClass{
  margin: 32px;
  margin-bottom: 32px;

  >h3{
    color: #5B1110;
    font-size: 24px;
    padding-bottom: 12px;
  }

  >ul{
    text-align:left;
    padding-left: 32px;
  }
  > ul > li {
    margin: 16px;
  }

}

