@use 'src/styles/mixins';
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:wght@200..900');


// variable height container for the cards?
// minor styling: why does border radius not apply evenly 
// minor styling: padding not working? struggling with image styling

.main_container {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  
  
}

.window_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  gap: 8px;
  background-color: var(--color-maroon);
  height: 48px;
  
}



.arrow {
  height: 48px;
  aspect-ratio: 1;
  border: none;
  background: transparent;
  flex-grow: 0;
  color: var(--color-gold);

  text-align: center;
  font-size: 1.6rem;


  display: flex;
  align-items: center;
  justify-content: center;
}

.viewport {
  flex-grow: 1;
  overflow: hidden;
  
}

.content_belt {
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
  justify-content: center;
  
}

.frame {
  width: 100%;
  flex-shrink: 0;
  //aspect-ratio: calc(16.0/9.0);
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  
}

.frame_content {
  color: var(--color-gold);
  font-family: "Be Vietnam";
  font-size: 1.4rem;
  
  
}


.flipping_cards {
  display: flex;
  align-items: flex-start;
  
  width: 100%
}

@include mixins.tablet {
  .main_container {
    //background-color: aqua;
  }
}

@include mixins.phone {
  .main_container {
    //background-color: palevioletred;
  }
}

@include mixins.sm-phone {
  .main_container {
    //background-color:blue;
  }
}
