@use 'src/styles/mixins';

.wrapperClass {
  font-family: 'Be Vietnam';
  background-color: #FFFBF0;
  text-align: center;
  height: auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.phone {
    padding-top: 20px;

  }

  >* {
    padding: 24px;
  }

  >h1 {
    font-size: 3.2rem;
    color: #5B1110;

    @include mixins.tablet {
      font-size: 2.8rem;
    }

    @include mixins.phone {
      font-size: 2.4rem;
    }

    @include mixins.sm-phone {
      font-size: 2rem;
    }

    @include mixins.v-sm-phone {
      font-size: 1.5rem;
    }
  }

  >h2 {
    font-size: 2rem;
    color: #D79C1A;

    @include mixins.tablet {
      display: none;
    }
  }

  >p {
    margin: 0 auto;
    width: auto;
    padding: 0px 174px 32px;
    font-size: 1.35rem;

    @include mixins.tablet {
      font-size: 1.25rem;
    }

    @include mixins.phone {
      padding: 0px 24px;
    }

    @include mixins.sm-phone {
      font-size: 1.125rem;
    }

    @include mixins.v-sm-phone {
      font-size: 1rem;
    }
  }

  .cardsDiv {
    width: 80%;
    padding: 64px 174px;
    display: flex;
    flex-direction: column;
    row-gap: 180px;
  }
}

.cardContainer {
  display: flex;
  position: relative;

  img {
    position: absolute;
    width: 400px;
  }

  @include mixins.sm-desktop {
    padding: 64px 174px;
  }
}



.path {
  img {
    height: 400px;
    left: 30%;
    top: 80%;
  }
}

.altPath {
  justify-content: flex-end;

  img {
    left: 45%;
    top: 110%;
  }
}

.listClass {
  width: 1024px;
  padding: 50px 8px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  column-gap: 48px;

  @include mixins.tablet {
    flex-direction: column;
  }

  @include mixins.phone {
    padding: 24px;
  }
}

.defaultClass {
  padding-bottom: 16px;

  >h3 {
    color: #5B1110;
    font-size: 2rem;

    @include mixins.sm-phone {
      font-size: 1.375rem;

    }
  }

  >ul>li {
    font-size: 1rem;
    margin: 16px;
    text-align: left;

    a {
      padding: 5px;
      border-radius: 5px;
      text-decoration: none;
    }

    a:visited {
      color: black;
    }

    a:hover {

      background-color: #5b11102d;
    }

    @include mixins.tablet {
      list-style-type: none;
      text-align: center;
      font-size: 1.25rem;
    }

    @include mixins.phone {
      padding: 0px 24px;
    }

    @include mixins.sm-phone {
      font-size: 1.125rem;
    }

    @include mixins.v-sm-phone {
      font-size: 1rem;
    }
  }
}