.video-responsive {
    max-width: 50%; /* Ensure the video is responsive and adjusts to its container */
    margin: 0 auto; /* Center the video horizontally */
}

.video-responsive iframe {
    width: 50%; /* Make the video fill its container */
    height: auto; /* Allow the height to adjust proportionally based on the width */
}