// @media screen and (max-width: 1280px) {
// desktop
.sectionContainer {
  // display: flex;
  padding-top: 24px;
  background-color: var(--color-white);
  font-family: var(--font-inter);
  padding-left: var(--edge-spacer);
  padding-right: var(--edge-spacer);
}

.sectionHeading {
  font-size: 2.5rem;
  text-align: center;
  color: var(--color-maroon);
}

.cardsContainer {
  display: flex;
  padding-top: 24px;
  display: flex;
  justify-content: space-evenly; /* space-between, space-evenly, etc. */
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding-left: 64px;
  padding-right: 64px;
}

.card {
  text-align: center;
  border-radius: 5px;
  flex-shrink: 0;
}

.cardImg1 {
  width: 368px;
  height: 328px;
  flex-shrink: 0;
  border-radius: 12px;
  background: url(/images/physiciansAndResidents.png),
    lightgray -5.605px 0px / 123.248% 100% no-repeat; // from figma dev
  background-size: cover; /* or "contain"  */
  // background-position: center center;
}

.cardImg2 {
  width: 368px;
  height: 328px;
  flex-shrink: 0;
  border-radius: 12px;
  background: url(/images/undergrad.png),
    lightgray -5.605px 0px / 123.248% 100% no-repeat;
  background-size: cover;
  background-position: center center;
}

.cardImg3 {
  width: 368px;
  height: 328px;
  flex-shrink: 0;
  border-radius: 12px;
  background: url(/images/clinics.png),
    // from figma dev
    lightgray -5.605px 0px / 123.248% 100% no-repeat;
  background-size: cover;
  background-position: center center;
  // background-repeat: no-repeat;
  // text-align: center;
  // margin: auto;
  // padding: 0;
}
.cardText {
  // text overlay
  position: relative;
  top: 79%;
  border-radius: 0px 0px 12px 12px;
  background: rgba(27, 1, 1, 0.7);
  color: #d4d0d0;
  padding: 9px;
  font-size: 1.25rem;
  text-align: center;
}

.detailsButton,
.signUpButton {
  height: 38px;
  width: 144px;
  margin: 8px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  position: relative;
}

.detailsButton {
  color: var(--color-maroon);
  background-color: var(--color-white);
  border-color: var(--color-maroon);
}

.signUpButton {
  color: var(--color-gold);
  background-color: var(--color-maroon);
  border: none;
}

//tablet
@media screen and (max-width: 1048px) {
}

// phone
@media screen and (max-width: 720px) {
}
