@use 'src/styles/mixins';

.sectionContainer {
  padding: 24px 0px;
  background-color: var(--color-white);
  font-family: var(--font-inter);
  padding: var(--edge-spacer) 0px;
}

.sectionHeading {
  color: var(--color-maroon);
  font-size: 2.5rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* space-between, space-evenly, etc. */
  font-size: 1.5rem;
  padding: 24px 0px;
}

.donateBoxContainer {
  background-color: var(--color-beige);
  font-size: 1.25rem;
  width: 50%;
  min-width: 368px;
  border-radius: 5px;
  padding: 16px 32px;
  margin: 16px auto;
}

.donateHeading {
  color: var(--color-maroon);
  font-size: 2rem;
  text-align: center;
}

.donateText {
  padding-top: 16px;
}

.centeredText {
  padding-top: 16px;
  text-align: center;
}

.address {
  font-weight: bold;
  white-space: pre-wrap;
  line-height: normal;
}


@include mixins.sm-desktop{
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
}

@include mixins.tablet{
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
}

@include mixins.phone{
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
}

@include mixins.sm-phone{
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
}