.container {
    background-color: rgb(160, 235, 160);
}

.beigecontainer1 {
    background-color: #FFFBF0;
}

.beigecontainer2 {
    background-color: #FFFBF0;
}

.beigecontainer3 {
    background-color: #FFFBF0;
}