.container {
    background-color: rgb(160, 235, 160);
    display: flex;
    flex-direction: column;
    //padding: 400px;
}

.beigecontainer1 {
    background-color: #FFFBF0;
    border-radius: 12px;
    //padding: 100px;
    margin-top: 100px;
    padding: 40px;
    margin-bottom: 40px;
    flex: 1;

    //display: inline-flex;
    //padding: 30px 30px 95px 175px;
    //justify-content: flex-end;
    //align-items: center;
    //font-size: 25px;
    //font-style: normal;
    //ont-weight: 700;
    //line-height: normal;
}

.heading_text {
    color: #5B1110;
    font-family: Jost;
    width: 536px;
    height: 64px;
    justify-content: center;
    text-align: center;
}

.paragraph1 {
    color: #333;
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    width: 731px;
    height: 413px;
    padding: 20px;


}

.beigecontainer2 {
    background-color: #FFFBF0;
    border-radius: 12px;
    padding: 40px;
    margin-bottom: 40px;
    flex-flow: column;
}

.paragraph2 {
    color: #333;
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 731px;
    height: 413px;
    padding: 20px;

}

.heading_text2 {
    color: #5B1110;
    font-family: Jost;
    width: 536px;
    height: 64px;
    justify-content: center;
    text-align: center;
}

.beigecontainer3 {
    background-color: #FFFBF0;
    padding: 80px;
    border-radius: 12px;
    margin-bottom: 40px;
    flex-flow: column;

}

.paragraph3 {
    color: #333;
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 731px;
    height: 413px;
    padding: 20px;
}

.heading_text3 {
    color: #5B1110;
    font-family: Jost;
    width: 536px;
    height: 64px;
    justify-content: center;
    text-align: center;
}